:root {
    --main-bg-white: #f4f0e9;
    --pale-pink: #ebcfc4;
    --gray: #d3c4be;
    --dark-gray: #3e3d3d;
    --button-purple: #e8c4f0;
    
    --color-a: #ffe8b1;
    --color-b: #b6916b;
    --color-c: #bd7a79;
    --color-d: #6b90b6;
    --color-e: #d7def2;
    --color-f: #ebb0ba;
    --color-g: #c4f0e8;
    --color-h: #ffc1b1;
    --color-i: #b1efff;
    --color-j: #9bc99e;
    --color-k: #c99bc6;
}

body {
    background-color: var(--main-bg-white);
    text-align: center;
    color: var(--dark-gray);
    font-family: 'EB Garamond', serif;
}

h1 {
    font-size: 40px;
}

h2 {
    display: none;
}

button {
    background-color: var(--button-purple);
    font-size: 20px;
    font-family: inherit;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    margin-bottom: 20px;
}

#grid {
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--gray);
    border: 5px solid var(--gray);
    border-radius: 5px;
}

#grid div {
    width: 90px;
    height: 90px;
    margin: 5px;
    background-color: var(--pale-pink);
    border-radius: 5px;
}

.taken {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}