:root {
    --main-bg-white: #f4f0e9;
    --pale-pink: #EBCFC4;
    --gray: #D3C4BE;
    --dark-gray: #6c6c6c;

    --color-a: #ffe8b1;
    --color-b: #b6916b;
    --color-c: #b66c6b;
    --color-d: #6b90b6;
    --color-e: #d7def2;
    --color-f: #f0c4cc;
    --color-g: #c4f0e8;
    --color-h: #ffc1b1;
    --color-i: #b1efff;
    --color-j: #9bc99e;
    --color-k: #c99bc6;
}

body {
    background-color: var(--main-bg-white);
    text-align: center;
    color: var(--dark-gray);
}

h1 {
    font-size: 40px;
}

#grid {
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--gray);
    border: 5px solid var(--gray);
}

#grid div {
    width: 90px;
    height: 90px;
    margin: 5px;
    background-color: var(--pale-pink);
}

.taken {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}